@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oregano&display=swap');
* {
    margin: 0;
    padding: 0;
}

/* shared styles */
body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: black;
}


/* header section */
.header-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

.header-section-title {
    color: #ffffff;
    font-size: 0.9rem;
    font-weight: 500;
}
.header-section-icon {
    color: #ffb342;
    font-size: 1.3rem;
    opacity: 1;
    margin-right: 10px;
}
.header-section-option select {
    padding: 10px 20px;
    color: #ffffff;
    background-color: transparent;
    border: none;
    font-size: 0.9rem;
    font-weight: 500;
    margin-right: 20px;
}
select:focus {
    outline: none;
}
.header-section-option select:active {
    color: rgba(0, 0, 0, 0.842);
}

/* header section seacrh bar */
.header-search-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 27px auto;

}
.header-search-box {
    display: flex;
    align-items: center;
    border: 2px solid #0989ff;
}
.header-search-box >input {
    padding: 14px;
    padding-right: 50px;
    font-size: .9rem;
    font-weight: 500;
    border: none;
}
.header-search-box >input:focus {
    outline: none;
}
.header-search-box > a {
    text-decoration: none;
}
.header-search-box >a > i {
    height: 50px;
    width: 60px;
    background-color: #0989ff;
    font-size: 1.5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.select-catagory {
    margin-right: 15px;
}
.select-catagory select {
    padding: 14px;
    font-size: 0.9rem;
    font-weight: 500;
    border: none;
    opacity: 0.8;
}

.select-catagory > option {
    margin-top: 20px;
}

.header-account-section {
    display: flex;
    align-items: center;
    gap: 50px;
}
.profile-icon {
    display: flex;
    align-items: center;
}
.profile-section > a  {
    text-decoration: none;
}
.profile-icon  > i {
    font-size: 1.5rem;
    height: 44px;
    width: 44px;
    border: 2px solid rgba(1, 15, 28, 0.1);
    line-height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgba(0, 0, 0, 0.822);
    margin-right: 10px;
}
.profile-icon >div > span {
    font-size: .8rem;
    color: #767a7d;
    font-weight: 500;
    line-height: 1;
}
.profile-icon > div > h5 {
    font-weight: 500;
    font-size: 0.9rem;
    color: black;
    line-height: 1;
    margin-top: 3px;
}
.header-pannel-icon {
    display: flex;
    gap: 30px;
}
.header-pannel-icon > a{
    text-decoration: none;
}
.header-pannel-icon a i {
    font-size: 1.7rem;
    color: rgba(0, 0, 0, 0.774);
}
.header-icon-badge {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #fd4b6b;
    font-size: 0.8rem;
    font-weight: 700;
    text-align: center;
    position: absolute;
    margin-left: 15px;
    margin-top: -8px;
    color: #ffffff;
    border: 2px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* navbar section */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
.nav-option {
    display: flex;
    align-items: center;
}
.nav-button {
    padding: 12px 30px;
    background-color: #0989ff;
    border: none;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    transition: background-color .3s;
}
.nav-button:hover {
    background-color: black;
}
.nav-button >span {
    margin-right: 7px;
}

/* nav menu styles */

.nav-menu {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 30px;
}
.nav-menu a {
    font-size: 0.9rem;
    font-weight: 500;
    padding: 11px 0;
}
.nav-number {
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-number >i {
    color: #0989ff;
    font-size: 1.5rem;
}
.hotline-text {
    color: #55585b;
    font-size: .8rem;
}
.hotline-number {
    font-size: .9rem;
    font-weight: 500;
}

/* slider section styles */
.slider-section {
    height: 500px;
    width: 100%;
    background-color: #115061;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.slider-description {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 10px;
}
.slider-title {
    color: #ffffff;
    font-size: 4.5rem;
    font-weight: 900;
    margin-bottom: 12px;
}
.slider-offer {
    color: #ffffff;
    font-weight: 400;
    font-family: 'Oregano', cursive;
    font-size: 2rem;
    margin-bottom: 30px;
}
.slider-offer>span {
    color: #ffd43a;
}
.slider-button {
    background-color: #fff;
    color: #010f1c;
    border: 1px solid #fff;
    box-shadow: 0 1px 2px rgba(1,15,28,.1);
    padding: 13px 29px;
    border-radius: 6px;
    font-size: .9rem;
    font-weight: 600;
}
.slider-button >a  i {
    color: #010f1c;
}
.slider-button:hover {
    background-color: transparent;
}
.slider-button:hover a{
    color: white;
}
.slider-button:hover a>i {
    color: white;
}


/* catagory section */
.catagory {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.col {
    width: 228px;
    height: 286px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.col-img-box {
    width: 95%;
    height: 78%;
    background-color: #bddeff7e;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}
.col-title {
    font-size: 1.5rem;
    color: #010f1c;
    font-weight: 600;
    margin-bottom: 7px;
    transition: color .3s ease-in;
}
.col-description {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 26px;
    color: #55585b;
}
.col-img {
    transition: transform 0.4s ease-in;
}
/* catagory hover styles */
.col-img-box:hover .col-img {
    transform: scale(1.2);
}
.col-title:hover {
    color: #3498db;
}

/* service section styles */
.service-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 75px auto;
}
.service {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 25px;
}
.service-icon > i {
    font-size: 2.5rem;
    color: #fd4b6b;
}
.service-title {
    color: #010f1c;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.2;
}
.service-description {
    color: #55585b;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
}

/* container heading section */
.container-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 70px;
    margin-bottom: 60px;
}

.nav-item ul {
    display: flex;
    gap: 40px;
    align-items: center;
}
.container-heading-title {
    font-size: 40px;
    color: #010f1c;
    font-weight: 700;
    line-height: 1.2;
}
.nav-item > ul > li > a {
    color: #a0a2a4;
    font-size: 1.25rem;
    font-weight: 400;
}
.container-heading-button {
    background-color: #0989ff;
    border: none;
    color: #ffffff;
    padding: 12px 30px;
    border-radius: 4px;
    transition: background-color .3s ease-in;
}
.container-heading-button:hover {
    background-color: black;
}
.container-heading-button > a , .container-heading-button>i {
    color: white;
    font-size: 14px;
    font-weight: 500;
}

/* product section */
.product-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 60px auto;
}
.product {
    height: 414.188px;
    width: 246px;
    /* padding: auto 12px; */
    border: .5px solid #e4e5e9;
    box-shadow: 0px 1px 3px rgba(1, 15, 28, 0.14);
    border-radius: 7px;
}
.product-img-box {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: .5px solid #e4e5e9;
}
.product-img {
    height: 100%;
    width: 100%;
    transition: all 0.4s ease-in;
}
.product-badge {
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: #ffffff;
    border-radius: 4px;
    padding: 4px 8px 2px;
    text-transform: capitalize;
    position: absolute;
    margin-left: 157px;
    margin-top: -175px;
}
.hot-badge {
    background-color: #fd2d6c;
    padding: 4px 8px 2px;
    border-radius: 4px;
}
.trending-badge {
    background-color: #31b757;
    border-radius: 4px;
    padding: 4px 8px 2px;
}
.sale-badge {
    background-color: #0989ff;
    padding: 4px 8px 2px;
    border-radius: 4px;
}
.discount-badge {
    background-color: #ff6736;
    padding: 4px 8px 2px;
    border-radius: 4px;
}
.product-action {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-right: -203px;
    margin-top: 82px;
    box-shadow: 0px 1px 3px rgba(1, 15, 28, 0.14);
    opacity: 0;
    transition: all 0.4s ease-in;
}
.product-action >a >i {
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 18px;
    color: #010f1c;
    background-color: #ffffff;
    border: 1px solid #eaebed;
    border-bottom: 0;
    text-align: center;
    
}
.product-action > a > i:hover {
    background-color: #0989ff;
    color: #ffffff;
}
.product-content {
    padding: 15px 15px;
}
.product-catagory > a{
    font-size: 12px;
    font-weight: 500;
    color: #55585b;
    line-height: 26px;
}
.product-title {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.33;
    margin-bottom: 7px;
    color: #010f1c;
}
.product-rating {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-bottom: 7px;
}
.product-rating-icon >i {
    font-size: 14px;
    color: #ffb21d;
    line-height: 26px;
}
.product-rating-text {
    color: #55585b;
    font-size: 14px;
    line-height: 26px;
}
.old-price {
    color: #55585b;
    font-size: 12px;
    font-weight: 500;
    margin-right: 3px;
}
.new-price {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #0989ff;
}

/* product hover styles */
.product:hover .product-img {
    transform: scale(1.15);
}
.product:hover .product-action{
    opacity: 1;
    transform: translateX(-12px);
}
.product:hover {
    box-shadow: 2px 1px 4px rgba(1, 15, 28, 0.14);
}

/* second slider section */
.slider-section2 {
    height: 260px;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    margin: 80px auto;
}
.slider-box-1 {
    background-image: url('../Assets/Images/product-banner-1.jpg');
    height: 100%;
    width: 750px;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-size: cover;
}
.slider-box-2 {
    background-image: url(../Assets/Images/product-banner-2.jpg);
    height: 100%;
    width: 450px;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-size: cover;  
}
.slider-box-description {
    font-size: 16px;
    color: #010f1c;
    margin-bottom: 5px;
}
.slider-box-title {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.29;
    margin-bottom: 30px;
    transition: all 0.3s ease-in;
}
.slider-box-button {
    color: #010f1ce3;
    font-size: 14px;
    border: none;
    font-weight: 600;
    background-color: transparent;
}
.slider-box-button>a {
    transition: all 0.3s ease-in;
    font-size: 14px;
}
.slider-box-button > i {
    color: #010f1c;
    transition: all 0.3s ease-in;
    font-size: 14px;
}

.slider-info {
    padding-left: 40px;
    padding-top: 50px;
}
/* second slider hover styles */
.slider-box-title:hover {
    color: #0d6efd;
}
.slider-box-button:hover a{
    color: #0d6efd;
}
.slider-box-button:hover i {
    transform: translateX(5px);
}














/* responsive styles */
/* responsive styles for mobile devices */
@media screen and (max-width: 576px) {
    .header-section {
        display: none;
    }
    .header-search-box, .header-pannel-icon {
        display: none;
    }
    /* navbar media query */
    .navbar {
        display: none;
    }
    /* slider section */
    .slider-section {
        flex-direction: column;
        height: auto;
    }
    .slider-description {
        font-size: 1.2rem;
    }
    .slider-title {
        font-size: 3rem;
    }
    .slider-offer {
        font-size: 1.5rem;
    }
    .slider-content {
        margin-top: 15px;
    }
    .slider-img > img {
        width: 350px;
        margin-top: 30px;
        margin-bottom: 15px;
    }
    /* catagoary media query */
    .catagory {
        flex-direction: column;
    }

    /* service section */
    .service-section {
        flex-wrap: wrap;
        margin: 60px auto;
    }

    /* container heading */
    .container-heading {
        flex-direction: column;
        gap: 15px;
        margin: auto 25px;
    }
    .container-heading-title {
        font-size: 36px;
    }

    /* second-slider section */
    .slider-section2 {
        flex-direction: column;
        margin-top: 150px;
        margin-bottom: 150px;
    }
    .slider-box-1, .slider-box-2 {
        width: 100%;
    }
    .slider-info {
        padding: 30px;
    }
}








/* responsive styles for medium devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .header-section {
        display: none;
    }
    .header-search-box, .header-pannel-icon {
        display: none;
    }
    /* navbar */
    .navbar {
        display: none;
    }

    /* slider-section */
    .slider-section {
        height: auto;
    }
    .slider-description {
        font-size: 1.3rem;
    }
    .slider-title {
        font-size: 3.5rem;
    }
    .slider-offer {
        font-size: 1.8rem;
    }
    .slider-content {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .slider-img > img {
        width: 350px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    /* catagory section */
    .catagory {
        flex-wrap: wrap;
    }

     /* service section */
     .service-section {
        flex-wrap: wrap;
        margin: 60px auto;
    }

    /* container heading */
    .container-heading {
        flex-direction: column;
        gap: 25px;
        margin: auto 100px;
        align-items: flex-start;
    }

    /* second slider section */
    .slider-section2 {
        flex-direction: column;
        margin: 140px auto;
    }
    .slider-box-1 {
        width: 600px;
    }
    .slider-info {
        padding: 35px;
    }
}